<h2>My First Angular Application</h2>
<!-- <app-student></app-student> -->

<!-- <app-stringinterpolation></app-stringinterpolation> -->

<!-- <app-propertybinding></app-propertybinding> -->
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-class-binding></app-class-binding> -->
<!-- <app-event-binding1></app-event-binding1> -->
<!-- <app-event-binding2></app-event-binding2> -->
<!-- <app-ifdirective></app-ifdirective> -->
<!-- <app-fordirective></app-fordirective> -->
<!-- <app-switch-directive></app-switch-directive> -->
<!-- 
<h2> Number Is ::  {{DataFromChildToChild}} </h2> -->

<!-- <app-parent (paraentEvent)="DataFromChildToChild=$event"></app-parent> -->

<!-- <app-inbuild-pipe></app-inbuild-pipe> -->
<!-- <app-custom-pipe></app-custom-pipe> -->
<!-- <app-fifth-task></app-fifth-task> -->
<!-- <app-custom-service></app-custom-service> -->
<!-- <app-post></app-post> -->

<!-- <app-home></app-home> -->

<app-home></app-home>
<!-- <router-outlet></router-outlet> -->